body {
    margin: 0;
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
}

.grid-container {
    display: grid;
    color: white;
    row-gap: 50px;
}

#title {
    padding-top: 100px;
}

#title, main, footer {
    margin: 0 100px;
}

h1 {
    color: turquoise;
    margin-bottom: 0;
}

#title > h2 {
    margin-top: 0;
}

h2, h3 {
    color: turquoise;
}

/* Navigation bar */
#nav-bar {
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

#menu {
    display: none;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-links > a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;
}

.nav-link {
    width: 100%;
    text-align: center;
}

#nav-links > a:hover {
    color: turquoise;
}

.nav-img {
    height: 80%;
    align-self: center;
    padding-left: 10px;
}

#logo {
    height: 100%;
}

/* About */
#about-info {
    display: grid;
    grid-template-columns: 50% 30%;
    column-gap: 10px;
}

#about > h2 {
    margin-bottom: 0;
}

#tech-list {
    display: grid;
    grid-template-columns: 50% 50%;
}

#profile-photo {
    display: grid;
    grid-template-columns: 100%;
}

#profile-photo > img {
    justify-self: flex-start;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* Experience */
#experience {
    padding-left: 10%;
}

#work {
    height: 230px;
    display: grid;
    grid-template-columns: 30% 50%;
    grid-template-rows: 200px;
    row-gap: 10px;
    column-gap: 20px;
    padding-bottom: 50px;
}

#work-places {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.work-header {
    margin: 0;
}

.work-date {
    margin-top: 1px;
}

ul {
    padding-left: 16px;
    list-style: square;
}

.work-button {
    border: none;
    border-left: 2px solid turquoise;
    background-color: transparent;
    color: turquoise;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    text-align: left;
}

.work-button:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
}

.work-button:focus {
    outline: none;
}

#jmu, #chesterfield, #amelia {
    display: none;
}

/* Certifications */
#certifications {
    height: 250px;
}

#cert {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 164px;
}

#cert > figure {
    margin: 0;
    height: 100%;
    width: 100%;
}

#cert > figure > figcaption {
    width: 120px;
    text-align: center;
    font-weight: bold;
}

.cert-img {
    width: 120px;
}

/* Projects */
#projects {
    padding-left: 10%;
}

#project-info {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px 230px;
    gap: 20px 20px;
}

#project-info > a {
    text-decoration: none;
}

.project {
    height: 100%;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 15%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 75%;
}

.project:hover {
    border: 1px solid turquoise;
}

.project > h3 {
    text-align: center;
}

.project > img {
    height: 75%;
    grid-column-start: 2;
    align-self: center;
}

.project > p {
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 0.9em;
}

/* Contact */
#contact > h2 {
    margin-bottom: 0;
}

#contact-info {
    display: grid;
    grid-template-columns: 40px 40px;
    grid-template-rows: 50px;
}

#contact-info > a {
    height: 100%;
}

#contact-info > a > img {
    height: 100%;
}

#linkedin-icon:hover {
    content: url('images/linkedin-icon.png');
}

#github-icon:hover {
    content: url('images/github-icon.png');
}

/* Footer */
footer {
    color: rgb(50, 50, 50);
}

footer > p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 920px) {
    #project-info {
        grid-template-columns: 230px 230px;
        grid-template-rows: 230px 230px 230px;
    }
}

@media screen and (max-width: 700px) {
    #nav-links {
        display: none;
    }
    
    #menu {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        padding-right: 20px;
    }

    #menu > img {
        width: 60px;
    }

    #title, main, footer {
        margin: 0 50px;
    }

    .grid-container {
        justify-items: center;
    }

    #about-info {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 350px 200px;
        column-gap: 0px;
    }

    #about-text > p {
        text-align: left;
    }

    #profile-photo > img {
        justify-self: center;
    }

    #experience {
        padding-left: 0px;
    }

    #work {
        display: grid;    
        grid-template-columns: 80%;
        grid-template-rows: 50px 200px;
        row-gap: 30px;
        padding-bottom: 50px;
    }

    #work-places {
        flex-direction: row;
        justify-content: space-between;
    }

    .work-date {
        text-align: left;
    }

    #bfm, #jmu, #chesterfield, #amelia {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #certifications > h2 {
        text-align: center;
    }

    #cert {
        display: grid;
        grid-template-columns: 120px 120px 120px;
        grid-template-rows: 164px;
    }

    #cert > figure {
        grid-column-start: 2;
    }

    #projects {
        padding-left: 0px;
    }

    #projects > h2 {
        text-align: center;
    }

    #project-info {
        grid-template-columns: 230px;
        grid-template-rows: 230px 230px 230px 230px 230px 230px;
    }

    #contact {
        width: 100%;
    }

    #contact > h2, p {
        text-align: center;
    }

    #contact-info {
        justify-content: center;
    }

    #contact-info > a > img {
        align-self: flex-start;
    }

    footer {
        width: 100%;
    }
}